.sidebar {
    text-align: left;
    color: white;
    position: relative;
    height: 100%;
    width: 100%;
    color: #F8F8F8;
    font-weight: 100;
}

.app_title{
    font-size: 30px;
    padding: 10px;
}

.user{
    display: inline-block;
    font-size: 17px;
    padding-top: 10px;
    text-align: right;
    cursor: pointer;
    margin-left: 10px;
}
.user:hover {
    font-weight: 500;
}

.logout {
    display: inline-block;
    cursor: pointer;
    margin-left: 110px;
}

.channel {
    top: 15%;
    font-size: 18px;
    display: inline-block;
    width: 80%;
    padding-left: 10px;
}

.direct {
    top: 53%;
    font-size: 18px;
    display: inline-block;
    width: 80%;
    padding-left: 10px;
}

.direct_list{
    font-size: 16px;
    top: 57%;
    width: 100%;
    height: 42%;
}

.direct_list ul {
    list-style: none;
    padding: 0;
}

.direct_list li {
    padding: 5px 0;
    cursor: pointer;
    padding: 7px 18px;
}

.direct_list li:hover {
    background-color: #5f99a7
}

.plus_icon{
    display: inline-block;
}

.list_container {
    padding-top: 20px;
    cursor: pointer;
}
