.message_container {
    padding: 10px 0;
    position: relative;
}

.message_container:hover {
    background-color: #F8F8F8
}

.profile_pic_container {
    display: inline-block;
    height: inherit;
    vertical-align: top;
    padding-right: 10px;
}

.profile_pic {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    text-align: center;
    vertical-align: top;
}

.message {
    display: inline-block;
    width: 90%;
}

.message_details {
    display: inline-block;
    font-weight: bold;
    font-size: 17px;
}

.message_time {
    display: inline-block;
    padding-left: 5px;
    color: #A9A9A9;
    font-weight: 100;
    font-size: 14px;
}

.message_body {
    padding-top: 7px;
    font-weight: 600;
}

img {
    max-width: 100%;
    max-height: 100%;
    min-height: 50px;
    border-radius: 5px;
}

.edit_container {
    display: none;
    position: absolute;
    left: 95%;    
    width: 26px;
    height: 26px;
}

  .message_container:hover .edit_container {
      display: table;
  }

  .edit_container:hover {
    border: 1px solid #D3D3D3;
    border-radius: 10px;
  }

  .edit_container div {
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    cursor: pointer;
  }

.chatbox {
    height: 45px;
    width: 90%;
    margin: auto;
    display: inline-block;
}
.text_area{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 2px solid #BCBCBD;
    font-size: 17px;
    font-weight: 200;
}

.text_area:focus {
    border-color: #696969;
    outline: none;
}

.edit_button_container {
  overflow: hidden;
  width: 90%;
  min-height: 40px; /* Remember absolute positioning is outside the page flow! */
  position: relative;
  padding-left: 60px;
  padding-top: 10px;
}

.cancel_button {
    margin-right: 5px;
    border-radius: 6px;
    height: 29px;
    width: 60px;
    font-weight: 500;
}

.save_button {
    margin-left: 5px;
    background-color: green;
    color: white;
    border-radius: 6px;
    height: 29px;
    width: 60px;
    font-weight: 500;

}

button:focus {outline:none !important}