.delete_container {
    height: 100px;
    width: 100px;
    padding: 30px;
}

.message {
    max-height: 300px;
    width: 100%;
    height: auto;
    overflow-y: scroll;
}

.controller_div {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
}

.button_container {
    text-align: right;
  }
  
  .cancel_button {
      margin-right: 5px;
      border-radius: 5px;
      height:37px;
      width: 75px;
      font-weight: 500;
      font-size: 13px;
  }
  
  .delete_button {
      margin-left: 10px;
      background-color: red;
      color: white;
      border-radius: 5px;
      height: 37px;
      width: 75px;
      font-weight: 500;
      font-size: 13px;
  
  }

  button:hover {
    cursor: pointer;
  }