.app{
  height: 100%;
  width:100%;
}

.sidebar {
  display: inline-block;
  vertical-align:top;
  width: 13%;
  height: 100%;
  background: #2c3e50; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #2c3e50, #4ca1af); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #2c3e50, #4ca1af); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  height: 100%;
}

.main {
  display: inline-block;
  width:87%;
  background-color:#FFFFFF;
  height: 100%;
  display: inline-block;
}
